/*
 * Author: Mladen Milosevic
 * Date: 18.05.2018
 */

#site-title {
    margin: auto;
    text-align: center;
}


p#edit-message-alert {
    text-align: center;
    font-size: 14px;
    color: green;
    font-weight: bold;
}

p#register-message-alert {
    text-align: center;
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.center-text {
    margin: auto;
    text-align: center;
}

span.user-key {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

tr > th {
    text-align: center;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.found-p {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    font-size: 11px;
    color: red;
}

.found-check { }
.not-available { }

.user-modal-title {
    font-size: 14px;
    font-weight: bold;
}

div#user-info {
    text-align: center;
    font-size: 15px;
}



