/*
 * Author: Mladen Milosevic
 * Date: 18.05.2018
 */

#site-title {
    margin: auto;
    text-align: center;
}

h4.info-location {
    text-decoration: underline;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.found-p {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    font-size: 11px;
    color: red;
}

p#edit-message-alert {
    text-align: center;
    font-size: 14px;
    color: green;
    font-weight: bold;
}

p#register-message-alert {
    text-align: center;
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.center-text {
    margin: auto;
    text-align: center;
}

.user-modal-title {
    font-size: 14px;
    font-weight: bold;
}

div#user-info {
    text-align: center;
    font-size: 15px;
}

span.user-key {
    font-weight: bold;
}

label#edit-form-label.user-key {
    font-weight: bold;
}

edit-form-label {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

tr > th {
    text-align: center;
}

#order-ride-div {
    align-content: center;
    margin: auto;
    text-align: center;
}

.cover {
    color: white;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #73b1e7 21%, #0a77d5 35%, #0a77d5 69%, #539fe1 82%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#73b1e7 21%,#0a77d5 35%,#0a77d5 69%,#539fe1 82%,#ffffff 100%);
    background: linear-gradient(to right, #ffffff 0%,#73b1e7 21%,#0a77d5 35%,#0a77d5 69%,#539fe1 82%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}

.found-check { }
.not-available { }









