/*
 * Author: Mladen Milosevic
 * Date: 18.05.2018
 */

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.left-black-border {
    border-left: 2px;
    border-left-color: black;
    border-left-style:  dashed;
}